# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
* Popular languages that data scientists use.
* commonly used libraries used by  data scientists.
* Creating a table in markdown.
* Arthimetic expressions.

## Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib
4. Seaborn
5. Scikit-learn
6. Tensorflow

## Table:

| Data Science Tools |
|:------------------:|
| Jupyter notebook / lab |
| VS Code |
| R Studio |
| IBM Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.
2*3+5

In [3]:
2*3+5

11

In [6]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [8]:
#Insert a comment line before the expression to explain the operation e.g. 
#This will convert 200 minutes tohours by diving by 60.
a=200
b=a/60
print("Time in hours:", b)

Time in hours: 3.3333333333333335

## Author:
RAMINI VARUN BABU.